---
version: '3.5'

services:
    mentorpunten-nginx:
        container_name: 'mentorpunten_nginx'
        image: nginx:latest
        restart: 'always'
        volumes:
            - './media/:/mentorpunten/media/'
            - './static/:/mentorpunten/static/'
            - './nginx/conf.d:/etc/nginx/conf.d'
            - './nginx/nginx.conf:/etc/nginx/nginx.conf'
        ports:
            - 80:80
            - 443:443
        networks:
          - backend-django-mentorpunten
    mentorpunten-postgres:
        container_name: 'mentorpunten_postgres'
        image: 'postgres:11.5'
        restart: 'always'
        volumes:
            - './backend/database/:/var/lib/postgresql/data/'
            - './backend/database_init/:/docker-entrypoint-initdb.d/'
        environment:
            PGDATA: '/var/lib/postgresql/data/pgdata'
        networks:
          - backend-django-mentorpunten

    mentorpunten-django:
        image: "larsvanrhijn/mentorpunten-backend:latest"
        build: "./backend"
        restart: 'always'
        container_name: mentorpunten_django
        depends_on:
          - 'mentorpunten-nginx'
          - 'mentorpunten-postgres'
        volumes:
            - './static:/mentorpunten/src/website/static/'
            - './media:/mentorpunten/src/website/media/'
            - './log/:/mentorpunten/log/'
        environment:
            DJANGO_SECRET_KEY: '[INSERT DJANGO SECRET KEY]'
            POSTGRES_HOST: 'mentorpunten_postgres'
            POSTGRES_NAME: 'django'
            POSTGRES_USER: 'django'
            POSTGRES_PASSWORD: '[INSERT POSTGRES PASSWORD]'
            VIRTUAL_HOST: '[INSERT HOSTNAME]'
            VIRTUAL_PROTO: 'uwsgi'
        
        networks:
        - backend-django-mentorpunten

    mentorpunten-vue:
        image: "larsvanrhijn/mentorpunten-frontend:latest"
        build: "./frontend"
        restart: 'always'
        container_name: mentorpunten_vue
        depends_on:
          - 'mentorpunten-nginx'
          - 'mentorpunten-django'
        environment:
            VITE_API_BASE_URI: "[INSERT BACKEND URI]"
            VITE_API_OAUTH_REDIRECT_URI: "[INSERT OAUTH REDIRECT URI]"
            VITE_API_OAUTH_CLIENT_ID: "[INSERT OAUTH CLIENT ID]"
            VITE_API_OAUTH_CLIENT_SECRET: "[INSERT OAUTH CLIENT SECRET]"
        networks:
        - backend-django-mentorpunten

networks:
  backend-django-mentorpunten:
    driver: bridge