@import 'base.css';
@import 'variables.css';

#app {
  min-width: 100vw;
  min-height: 100vh;
}

.navbar {
  background-color: var(--nav-background-color);
  color: var(--nav-link-color);
}

footer .navbar {
  background-color: var(--nav-background-color);
  color: var(--nav-link-color);
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.btn-primary {
  background-color: #E62272 !important;
  border-color: #E62272 !important;
}

@font-face {
  font-family: 'Gill sans MT condensed';
  src: url('../fonts/GillSansMT-Condensed.ttf')
  format('truetype');
}

@font-face {
  font-family: 'Open sans condensed';
  src: url('../fonts/OpenSans-CondLight.ttf')
  format('truetype');
}

@font-face {
  font-family: 'Open sans';
  src: url('../fonts/OpenSans-Regular.ttf')
  format('truetype');
}
