@import 'base.css';
@import 'variables.css';

#app {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #d9d9d9;
}

.navbar {
  background-color: var(--nav-background-color);
  color: var(--nav-link-color);
}

footer .navbar {
  background-color: var(--nav-background-color);
  color: var(--nav-link-color);
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.btn-primary {
  background-color: #E62272 !important;
  border-color: #E62272 !important;
}

@font-face {
  font-family: 'Gill sans MT condensed';
  src: url('../fonts/GillSansMT-Condensed.ttf')
  format('truetype');
}

@font-face {
  font-family: 'Open sans condensed';
  src: url('../fonts/OpenSans-CondLight.ttf')
  format('truetype');
}

@font-face {
  font-family: 'Open sans';
  src: url('../fonts/OpenSans-Regular.ttf')
  format('truetype');
}

.custom-card {
  border-radius: 0;
  border: none;
  background-color: white;
  color: black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-top: 1rem;

}

.custom-card h1 {
  font-family: 'Gill sans MT condensed';
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 0;
}

.custom-card h3 {
  font-family: 'Open sans condensed';
  font-size: 1.5rem;
  margin: 0;
}
